<#--
 * 저널 일기(jrnl_diary) 목록 - 수정 버튼 partial
 * @included_in : jrnl_day_page.ftlh
 -->

<script type="text/x-handlebars-template" id="jrnl_diary_context_btn_partial">
    <!-- Dropdown -->
    <div class="me-0 d-flex align-items-center">
        <button class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary"
                data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end"
                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="컨텍스트 메뉴를 호출합니다.">
            <i class="ki-solid ki-dots-horizontal fs-2x"></i>
        </button>
        <!--begin::Menu 3-->
        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px py-3" data-kt-menu="true">
            <!--begin::Heading-->
            <div class="menu-item px-3">
                <div class="menu-content text-muted pb-2 px-3 fs-7 text-uppercase">Diary</div>
            </div>
            <!--end::Heading-->
            <!--begin::Menu item-->
            <div class="menu-item px-3 my-1 cursor-pointer"
                 data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="<@spring.message "txt.jrnl.diary"/> <@spring.message 'bs.tooltip.modal.mdf'/>">
                <div class="menu-link flex-stack px-3" onclick="dF.JrnlDiary.mdfModal({{postNo}}, '{{stdrdDt}}');">
                    <@spring.message 'txt.comm.edit'/>
                    <i class="bi bi-pencil-square fs-8"></i>
                </div>
            </div>
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="right-end">
                <a href="#" class="menu-link px-3">
                    <span class="menu-title"><@spring.message 'txt.comm.status'/></span>
                    <span class="menu-arrow"></span>
                </a>
                <!--begin::Menu sub-->
                <div class="menu-sub menu-sub-dropdown w-175px py-4">
                    <!--begin::Menu item-->
                    <div class="menu-item px-3">
                        <div class="menu-content px-3">
                            <!--begin::Switch-->
                            <label class="form-check form-switch form-check-custom form-check-solid cursor-pointer"
                                   data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="<@spring.message 'bs.tooltip.resolved'/>">
                                <!--begin::Input-->
                                <input class="form-check-input w-30px h-20px cursor-pointer" type="checkbox" value="1" {{#ifYn resolvedYn}}checked="checked"{{/ifYn}}
                                       onclick="dF.JrnlDiary.resolveAjax({{postNo}});">
                                <!--end::Input-->
                                <!--end::Label-->
                                <span class="form-check-label text-muted fs-7"><@spring.message 'txt.status.resolved'/></span>
                                <!--end::Label-->
                            </label>
                            <!--end::Switch-->
                        </div>
                    </div>
                    <!--end::Menu item-->
                    <!--begin::Menu separator-->
                    <div class="separator my-2"></div>
                    <!--end::Menu separator-->
                    <!--begin::Menu item-->
                    <div class="menu-item px-3">
                        <div class="menu-content px-3">
                            <!--begin::Switch-->
                            <label class="form-check form-switch form-check-custom form-check-solid cursor-pointer"
                                   data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="중요">
                                <!--begin::Input-->
                                <input class="form-check-input w-30px h-20px cursor-pointer" type="checkbox" value="1" {{#ifYn imprtcYn}}checked="checked"{{/ifYn}}
                                       onclick="dF.JrnlDiary.imprtcAjax({{postNo}});">
                                <!--end::Input-->
                                <!--end::Label-->
                                <span class="form-check-label text-muted fs-7">중요</span>
                                <!--end::Label-->
                            </label>
                            <!--end::Switch-->
                        </div>
                    </div>
                    <!--end::Menu item-->
                    <!--begin::Menu item-->
                    <div class="menu-item px-3">
                        <div class="menu-content px-3">
                            <!--begin::Switch-->
                            <label class="form-check form-switch form-check-custom form-check-solid cursor-pointer"
                                   data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="참조">
                                <!--begin::Input-->
                                <input class="form-check-input w-30px h-20px cursor-pointer" type="checkbox" value="1" {{#ifYn imprtcYn}}checked="checked"{{/ifYn}}
                                       onclick="dF.JrnlDiary.refrncAjax({{postNo}});">
                                <!--end::Input-->
                                <!--end::Label-->
                                <span class="form-check-label text-muted fs-7">참조</span>
                                <!--end::Label-->
                            </label>
                            <!--end::Switch-->
                        </div>
                    </div>
                    <!--end::Menu item-->
                    <!--begin::Menu item-->
                    <div class="menu-item px-3">
                        <div class="menu-content px-3">
                            <!--begin::Switch-->
                            <label class="form-check form-switch form-check-custom form-check-solid cursor-pointer"
                                   data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="<@spring.message 'txt.status.collapsed'/>">
                                <!--begin::Input-->
                                <input class="form-check-input w-30px h-20px cursor-pointer diary-context-collapse-check" type="checkbox" value="1" {{#ifYn collapsedYn}}checked="checked"{{/ifYn}}
                                       onclick="dF.JrnlDiary.collapseAjax({{postNo}});">
                                <!--end::Input-->
                                <!--end::Label-->
                                <span class="form-check-label text-muted fs-7"><@spring.message 'txt.status.collapsed'/></span>
                                <!--end::Label-->
                            </label>
                            <!--end::Switch-->
                        </div>
                    </div>
                    <!--end::Menu item-->
                </div>
                <!--end::Menu sub-->
            </div>
            <!--end::Menu item-->
            <!--begin::Menu separator-->
            <div class="separator my-2"></div>
            <!--end::Menu separator-->
            <!--begin::Menu item-->
            <div class="menu-item px-3 my-1 cursor-pointer"
                 data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" title="<@spring.message "txt.jrnl.diary"/> <@spring.message 'bs.tooltip.del'/>">
                <div class="menu-link flex-stack px-3 text-danger" onclick="dF.JrnlDiary.delAjax({{postNo}});">
                    <@spring.message 'txt.comm.del'/>
                    <i class="bi bi-trash text-danger p-0 fs-8"></i>
                </div>
            </div>
            <!--end::Menu item-->
        </div>
        <!--end::Menu 3-->
    </div>
</script>
