<#--
 * 저널 일기(jrnl_diary) 목록 - 수정 버튼 partial
 * @included_in : jrnl_day_page.ftlh
 -->

<script type="text/x-handlebars-template" id="jrnl_day_meta_btn_partial">
    {{#if meta.list.length}}
        <button class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary"
                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" data-bs-html="true" data-bs-custom-class="meta-tooltip" data-bs-sanitize="false"
                title="{{#each meta.list}}
                    <div id='meta-no-{{refMetaNo}}' class='cursor-pointer btn btn-sm btn-bg-light btn-active-color-primary meta-item' data-meta-no='{{refMetaNo}}'
                         onclick='alert({{refMetaNo}})'>
                        {{#if (exists ctgr)}}<span class='text-noti pe-1'>[{{ctgr}}]</span>{{/if}} {{metaNm}}{{#if (exists label)}} - <span>{{label}}</span>{{/if}}: <span class='text-dialog'>{{value}}{{unit}}</span>
                    </div>
                {{/each}}">
            <i class="bi bi-bar-chart"></i>
        </button>
    {{/if}}
</script>
